<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineCampus2</title>
    <link rel="stylesheet" href="../css/cinema.css">
</head>
<body>
    <header>
        <img src="/frontend/public/assets/icons/back.svg" class="back">
        <h3>Cinema Selection</h3>
        <img src="/frontend/public/assets/icons/threedots.svg" class="dots">
    </header>

    <section class="bodycinema">
        <div class="movieimgcinema">
            <div class="imgcinema">
                <img src="/frontend/public/assets/images/movieplaceholder.png">
            </div>
        </div>
        <div class="moviedata">
            <h3 class="whitetext">Movie Title Goes Here</h3>
            <small class="graytext">Action, Adventure thing goes here</small>
            <p class="graytext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, unde, eaque recusandae repudiandae ratione a dignissimos doloribus praesentium eveniet inventore nemo. Earum eos voluptate debitis? Nisi obcaecati reiciendis sunt fugiat?</p>
        </div>

        <div class="castzone">
            <h3 class="whitetext">Cast</h3>
            <div class="cast">
                <div class="castperson">
                    <div class="castpersonimg">
                        <img src="/frontend/public/assets/images/antonio.jpg">
                    </div>
                    <div class="castpersoninfo">
                        <strong class="whitetext">Antonio Banderas</strong>
                        <p class="graytext">Puss in Boots</p>
                    </div>
                </div>
                <div class="castperson">
                    <div class="castpersonimg">
                        <img src="/frontend/public/assets/images/antonio.jpg">
                    </div>
                    <div class="castpersoninfo">
                        <strong class="whitetext">Antonio Banderas</strong>
                        <p class="graytext">Puss in Boots</p>
                    </div>
                </div>
                <div class="castperson">
                    <div class="castpersonimg">
                        <img src="/frontend/public/assets/images/antonio.jpg">
                    </div>
                    <div class="castpersoninfo">
                        <strong class="whitetext">Antonio Banderas</strong>
                        <p class="graytext">Puss in Boots</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cinemazone">
            <h3 class="whitetext">Cinema</h3>
            <div class="cinemas">
                <div class="cinemark">
                    <div class="cinemarkinfo">
                        <strong class="whitetext">Cinemark Caracoli</strong>
                        <p class="graytext">Centro Comercial Caracolí, Tv. El Bosque #29-145 local 508, Cañaveral, Floridablanca, Santander</p>
                    </div>
                    <div class="cinemarklogo">
                        <img src="/frontend/public/assets/images/cinemarklogo.jpg" >
                    </div>
                </div>
                <div class="cinecolombia">
                    <div class="cinecolombiainfo">
                        <strong class="whitetext">CineColombia Cañaveral</strong>
                        <p class="graytext">Centro Comercial Cañaveral, Cl. 30 #25-71, Bucaramanga, Floridablanca, Santander</p>
                    </div>
                    <div class="cinecolombialogo">
                        <img src="/frontend/public/assets/images/cinecolombialogo.png" >

                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer>
        <button class="booknow">Book Now</button>
    </footer>
</body>
</html>