<!DOCTYPE html>
<html lang="en">
    
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "icon" href="/frontend/public/favicon.ico">
  <title>CineCampus</title>
  <link rel="stylesheet" href="../css/home.css">
  <script type="module" src="/frontend/src/main.js" defer></script>
</head>


<body>
    <header class="headerhome">
     <img src="/frontend/public/assets/icons/usericon.png" class="usericon">
     <div class="greeting">
         <p>Hi, UserPlaceHolder!</p>
         <p>Lets watch a movie together!</p>
     </div>
     <img src="/frontend/public/assets/icons/notification.png" class="notification">
    </header>
  <!-- <div id="app"></div> -->

   <section class="homebody">
    <div class="searchmovie">
        <input type="text" name="searchmovie" id="searchmoviehome" placeholder="Search movie, genre"">
    </div>

    <div class="nowplaying">
        <h3 class="whitetext">Now Playing</h3>
        <p class="redtext">See all</p>
    </div>

    <div class="movie-scroller">
        <img src="/frontend/public/assets/images/movieplaceholder.png">
        <img src="/frontend/public/assets/images/movieplaceholder.png">
        <img src="/frontend/public/assets/images/movieplaceholder.png">
    </div>

    <div class="moviedetailshome">
        <h2 class="whitetext">Movie Title Placeholder</h2>
        <p class="graytext">Movie Type Placeholder</p>
        <img src="/frontend/public/assets/icons/Slider Indicator.png">
    </div>

    <div class="comingsoonhome">
        <div class="comingsoon">
            <h3 class="whitetext">Coming Soon</h3>
            <p class="redtext">See all</p>
        </div>
        <div class="comingsoonmovie">
            <div class="comingsoonmovieplace">
                <img src="/frontend/public/assets/images/comingsoonmovie.png">
                <div class="comingsoonMovieDetails">
                    <h3 class="whitetext">Coming Soon (2013)</h3>
                    <p class="whitetext">Action, Adventure</p>
                </div>

            </div>
        </div>
    </div>
   </section>

   <footer>
    <img src="/frontend/public/assets/icons/homefooter.png">
    <img src="/frontend/public/assets/icons/browsefooter.png">
    <img src="/frontend/public/assets/icons/ticketsfooter.png">
    <img src="/frontend/public/assets/icons/profilefooter.png">
   </footer>
</body>
</html>
