<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineCampus</title>
    <link rel="stylesheet" href="../css/ticket.css">
</head>
<body>
    <header>
        <div class="ordermainheader">
            <img src="/frontend/public/assets/icons/back.svg" class="back">
            <h3 class="whitetext">Ticket</h3>
            <img src="/frontend/public/assets/icons/threedots.svg" class="dots">
        </div>
    </header>

    <div class="ticket">
        <div class="MainTicket">
            <div class="movieimgcinema">
                <div class="imgcinema">
                    <img src="/frontend/public/assets/images/movieplaceholder.png">
                </div>
            </div>
            <div class="moviedata">
                <h3>Movie Title Goes Here</h3>
                <p class="graytext">Show this ticket to the entrance</p>
            </div>
    
            <div class="ticketbody">
                <div class="cinemainfo">
                    <div class="cinemainfotext">
                        <p>Cinema</p>
                        <strong>Cinemark Caracoli</strong>
                    </div>
                    <div class="cinemarklogo">
                        <img src="/frontend/public/assets/images/cinemarklogo.jpg">
                    </div>
                </div>
    
                <div class="ticket-info">
                    <div class="row">
                        <div class="label">Date</div>
                        <div class="content">Sun, Feb 12th 2023</div>
                    </div>
                    <div class="row">
                        <div class="label">Time</div>
                        <div class="content">13:00</div>
                    </div>
                    <div class="row">
                        <div class="label">Cinema Hall</div>
                        <div class="content">Cinema A</div>
                    </div>
                    <div class="row">
                        <div class="label">Seat</div>
                        <div class="content">C5</div>
                    </div>
                    <div class="row">
                        <div class="label">Cost</div>
                        <div class="content">$26.99</div>
                    </div>
                    <div class="row">
                        <div class="label">Order ID</div>
                        <div class="content">123456789</div>
                    </div>
                </div>
                
                
            </div>
    
            <div class="BarCode">
                <img src="/frontend/public/assets/images/barcode.png">
            </div>
        </div>
    </div>
</body>
</html>