* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #121212;
  padding-bottom: 80px;
  margin: 0;
  overflow-x: hidden;
}

/* Text colors */

.whitetext {
    color: white;
}
  
.redtext {
    color: red;
}
  
.graytext {
    color: white;
    opacity: 50%;
}

/* default config */

.ordernumber, .ordermain, .payment {
    padding-left: 30px;
    padding-right: 30px;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    width: 100vw;
    padding: 25px;
}


header .ordermainheader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5%;
}

.moviesummaryimgzone {
    display: flex;
    justify-content: center;
    width: 100%; /* Ajustar a 100% para evitar desbordamiento */
    gap: 10px;
}

.moviesummaryimgzone img {
    width: 33%; /* Este valor depende del tamaño del contenedor padre */
    max-width: 100%; /* Asegúrate de que las imágenes no excedan el ancho disponible */
}

.moviesummarytext {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Order */

.ordernumber {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ordermain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-summary {
    display: flex;
    flex-direction: column;
    width: 500px; /* Ancho del contenedor, ajusta según sea necesario */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

.order-row {
    display: flex; /* Usamos flexbox para alinear los elementos en la fila */
    justify-content: space-between; /* Alinea los elementos en los extremos */
    padding: 8px 0; /* Espaciado vertical entre filas */
    border-bottom: 1px solid #ddd; /* Línea divisoria inferior */
}

/* Estilo para los elementos alineados a la izquierda */
.left {
    color: #585858;
    font-weight: bold; /* Negrita para destacar */
    font-size: 20px;
}

/* Estilo para los elementos alineados a la derecha */
.right {
    color: #585858; /* Color del texto */
    font-size: 20px;
}
  


/* Payment method */

.payment {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.payment-method {
    display: flex; /* Usamos Flexbox para alinear el logo y los detalles en una fila */
    align-items: center; /* Centra los elementos verticalmente */
    border: 1px solid #ccc; /* Borde alrededor del contenedor */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    width: 350px; /* Ancho del contenedor, ajusta según sea necesario */
    height: 80px;
    background-color: #202020; /* Color de fondo del contenedor */
  }
  
  /* Estilo del logo de la tarjeta */
  .card-logo {
    width: 50px; /* Ancho del logo */
    max-width: 50px;
    height: auto; /* Mantiene la proporción del logo */
    margin-right: 15px; /* Espaciado a la derecha del logo */
  }
  
  /* Estilo del contenedor de detalles de la tarjeta */
  .card-details {
    display: flex; /* Usamos Flexbox para alinear verticalmente */
    flex-direction: column; /* Coloca el nombre y número de la tarjeta en una columna */
  }
  
  /* Estilo del nombre de la tarjeta */
  .card-name {
    font-size: 16px; /* Tamaño de fuente del nombre de la tarjeta */
    font-weight: bold; /* Negrita para el nombre */
    color: #ffffff; /* Color del texto */
    margin-bottom: 5px; /* Espacio inferior entre el nombre y el número */
  }
  
  /* Estilo del número de la tarjeta */
  .card-number {
    font-size: 14px; /* Tamaño de fuente del número de la tarjeta */
    color: #ffffff; /* Color del texto */
  }
  
.paymentTime {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.158) ;
}



/* Footer */




footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

footer button {
    position: relative;
    padding: 20px 100px; /* Define el tamaño del botón principalmente con padding */
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: red;
    transition: all 0.2s ease;
}

footer button:active {
    transform: scale(0.96);
}

footer button:before,
footer button:after {
    position: absolute;
    content: "";
    width: 150%; /* Proporcional al tamaño del botón */
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

footer button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, red 20%, transparent 30%),
        radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, red 15%, transparent 20%),
        radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, red 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: redtopBubbles 0.6s ease;
}

@keyframes redtopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

footer button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, red 15%, transparent 20%),
        radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, red 20%, transparent 20%),
        radial-gradient(circle, red 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: redbottomBubbles 0.6s ease;
}

@keyframes redbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
